Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  php_value display_errors 1
  php_value mbstring.func_overload 2
  php_value mbstring.internal_encoding UTF-8

</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

	RewriteCond %{REQUEST_URI} (/index1.php|/(pr|actions|stati|clinic|training|uchebnie-centry|club|examples|proizvoditeli|organizatory|ns2952|maker-pills|pills|maker-apparatus)/(.*)|/novosti/[a-z0-9\-_]+/[^\/]+/|/(articles|podcast)/[a-z0-9\-]+\-[0-9]{6,8}/|/(apparatuses|preparations|apparatuses-makers|preparations-makers|trainings|trainig-centers|events|sponsors|promotions)/[a-z0-9\-_]+/|/apparatus/)
	RewriteRule ^(.*)$ /redirect301.php [L]

	RewriteCond %{HTTP_HOST} ^www\.estelife\.ru$
	RewriteRule ^(.*)$ http://estelife.ru/$1 [L,R=301]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} ^(.*/[^/\.]+)$
	RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "modification plus 3 day"
  ExpiresByType application/javascript "modification plus 3 day"
</IfModule>

