.not-found{
	font-size:18px;
}

.p404{
	width:974px;
	border:0px solid;
}

.head .main_menu .hover a{
	color:#e50264;
}

.country.k357{
	background-image:url('images/countries/k357.png');
}
.country.k1422{
	background-image:url('images/countries/k1422.png');
}
.country.k1434{
	background-image:url('images/countries/k1434.png');
}
.country.k1425{
	background-image:url('images/countries/k1425.png');
}
.country.k1426{
	background-image:url('images/countries/k1426.png');
}
.country.k1427{
	background-image:url('images/countries/k1427.png');
}
.country.k1428{
	background-image:url('images/countries/k1428.png');
}
.country.k1429{
	background-image:url('images/countries/k1429.png');
}
.country.k1430{
	background-image:url('images/countries/k1430.png');
}
.country.k1431{
	background-image:url('images/countries/k1431.png');
}
.country.k1432{
	background-image:url('images/countries/k1432.png');
}
.country.k1433{
	background-image:url('images/countries/k1433.png');
}
.country.k1435{
	background-image:url('images/countries/k1435.png');
}
.country.k1436{
	background-image:url('images/countries/k1436.png');
}
.country.k1437{
	background-image:url('images/countries/k1437.png');
}
.country.k1438{
	background-image:url('images/countries/k1438.png');
}
.country.k1439{
	background-image:url('images/countries/k1439.png');
}
.country.k1440{
	background-image:url('images/countries/k1440.png');
}
.country.k1441{
	background-image:url('images/countries/k1441.png');
}
.country.k1442{
	background-image:url('images/countries/k1442.png');
}
.country.k1443{
	background-image:url('images/countries/k1443.png');
}
.country.k1452{
	background-image:url('images/countries/k1452.png');
}
.country.k1453{
	background-image:url('images/countries/k1453.png');
}
.country.k1454{
	background-image:url('images/countries/k1454.png');
}
.country.k1455{
	background-image:url('images/countries/k1455.png');
}
.country.k1456{
	background-image:url('images/countries/k1456.png');
}
.country.k1524{
	background-image:url('images/countries/k1524.png');
}
.country.k1529{
	background-image:url('images/countries/k1529.png');
}
.country.k1534{
	background-image:url('images/countries/k1534.png');
}
.country.k1539{
	background-image:url('images/countries/k1539.png');
}
.country.k1547{
	background-image:url('images/countries/k1547.png');
}
.country.k1560{
	background-image:url('images/countries/k1560.png');
}
.country.k1628{
	background-image:url('images/countries/k1628.png');
}
.country.k1999{
	background-image:url('images/countries/k1999.png');
}
.country.k2035{
	background-image:url('images/countries/k2035.png');
}
.country.k2039{
	background-image:url('images/countries/k2039.png');
}
.country.k2102{
	background-image:url('images/countries/k2102.png');
}
.country.k2235{
	background-image:url('images/countries/k2235.png');
}
.country.k2242{
	background-image:url('images/countries/k2242.png');
}
.country.k2251{
	background-image:url('images/countries/k2251.png');
}
.country.k2257{
	background-image:url('images/countries/k2257.png');
}
.country.k2340{
	background-image:url('images/countries/k2340.png');
}
.country.k2544{
	background-image:url('images/countries/k2544.png');
}
.country.k2562{
	background-image:url('images/countries/k2562.png');
}
.country.k2580{
	background-image:url('images/countries/k2580.png');
}





.country.c357, .country .v357 {
	background-image:url('images/countries/c357.png');
}
.country.c1422, .country .v1422 {
	background-image:url('images/countries/c1422.png');
}
.country.c1434, .country .v1434 {
	background-image:url('images/countries/c1434.png');
}
.country.c1425, .country .v1425 {
	background-image:url('images/countries/c1425.png');
}
.country.c1426, .country .v1426 {
	background-image:url('images/countries/c1426.png');
}
.country.c1427, .country .v1427 {
	background-image:url('images/countries/c1427.png');
}
.country.c1428, .country .v1428 {
	background-image:url('images/countries/c1428.png');
}
.country.c1429, .country .v1429 {
	background-image:url('images/countries/c1429.png');
}
.country.c1430, .country .v1430 {
	background-image:url('images/countries/c1430.png');
}
.country.c1431, .country .v1431 {
	background-image:url('images/countries/c1431.png');
}
.country.c1432, .country .v1432 {
	background-image:url('images/countries/c1432.png');
}
.country.c1433, .country .v1433 {
	background-image:url('images/countries/c1433.png');
}
.country.c1435, .country .v1435 {
	background-image:url('images/countries/c1435.png');
}
.country.c1436, .country .v1436 {
	background-image:url('images/countries/c1436.png');
}
.country.c1437, .country .v1437 {
	background-image:url('images/countries/c1437.png');
}
.country.c1438, .country .v1438 {
	background-image:url('images/countries/c1438.png');
}
.country.c1439, .country .v1439 {
	background-image:url('images/countries/c1439.png');
}
.country.c1440, .country .v1440 {
	background-image:url('images/countries/c1440.png');
}
.country.c1441, .country .v1441 {
	background-image:url('images/countries/c1441.png');
}
.country.c1442, .country .v1442 {
	background-image:url('images/countries/c1442.png');
}
.country.c1443, .country .v1443 {
	background-image:url('images/countries/c1443.png');
}
.country.c1452, .country .v1452 {
	background-image:url('images/countries/c1452.png');
}
.country.c1453, .country .v1453 {
	background-image:url('images/countries/c1453.png');
}
.country.c1454, .country .v1454 {
	background-image:url('images/countries/c1454.png');
}
.country.c1455, .country .v1455 {
	background-image:url('images/countries/c1455.png');
}
.country.c1456, .country .v1456 {
	background-image:url('images/countries/c1456.png');
}
.country.c1524, .country .v1524 {
	background-image:url('images/countries/c1524.png');
}
.country.c1529, .country .v1529 {
	background-image:url('images/countries/c1529.png');
}
.country.c1534, .country .v1534 {
	background-image:url('images/countries/c1534.png');
}
.country.c1539, .country .v1539 {
	background-image:url('images/countries/c1539.png');
}
.country.c1547, .country .v1547 {
	background-image:url('images/countries/c1547.png');
}
.country.c1560, .country .v1560 {
	background-image:url('images/countries/c1560.png');
}
.country.c1628, .country .v1628 {
	background-image:url('images/countries/c1628.png');
}
.country.c1999, .country .v1999 {
	background-image:url('images/countries/c1999.png');
}
.country.c2035, .country .v2035 {
	background-image:url('images/countries/c2035.png');
}
.country.c2039, .country .v2039 {
	background-image:url('images/countries/c2039.png');
}
.country.c2102, .country .v2102 {
	background-image:url('images/countries/c2102.png');
}
.country.c2235, .country .v2235 {
	background-image:url('images/countries/c2235.png');
}
.country.c2242, .country .v2242 {
	background-image:url('images/countries/c2242.png');
}
.country.c2251, .country .v2251 {
	background-image:url('images/countries/c2251.png');
}
.country.c2257, .country .v2257 {
	background-image:url('images/countries/c2257.png');
}
.country.c2340, .country .v2340{
	background-image:url('images/countries/c2340.png');
}
.country.c2544, .country .v2544 {
	background-image:url('images/countries/c2544.png');
}
.country.c2562, .country .v2562 {
	background-image:url('images/countries/c2562.png');
}
.country.c2580, .country .v2580 {
	background-image:url('images/countries/c2580.png');
}

#ui-datepicker-div {
	background: #f0f0f0;
	border: 2px solid #5c5c5c;
	width:186px;
	display: block;
}
.ui-datepicker-calendar {
	border-spacing: 0;
	border-collapse: collapse;
	width:185px;
}
.ui-datepicker-calendar td {
	padding:0;
	border: 1px solid #d1d1d1;
	text-align: center;
}
.ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
	display: block;
	text-decoration: none;
	width:100%;
	padding:2px 0;
}
.ui-datepicker-calendar a:hover {
	background:#e50364;
	color:#fff;
}
.ui-datepicker-calendar .ui-datepicker-current-day {
	border:2px solid #e50364;
}
.ui-datepicker-calendar td span {
	color:#c6c6c6;
}
.ui-datepicker-title {
	text-align: center;
	position: absolute;
	top: 2px;
	left: 41px;
	width: 106px;
}
.ui-datepicker-next, .ui-datepicker-prev {
	cursor:pointer;
	display: block;
	position: absolute;
	text-indent: -10000px;
	width: 20px;
	height: 25px;
	border: 2px solid #5c5c5c;
	top:0;
	border-top:none;
	border-bottom:none;
	background:url('images/calendarrow.png') 6px 3px no-repeat;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background-color:#e50364;
	background-position: -14px 3px;
	border-color:#e50364;
}
.ui-datepicker-prev {
	left:0;
	border-left: none;
	background-position: 6px -27px;
}
.ui-datepicker-prev:hover {
	background-position: -14px -27px;
}
.ui-datepicker-next {
	right:0;
	border-right: none;
}
.ui-datepicker-header {
	height: 25px;
	border-bottom: 2px solid #5c5c5c;
}
.jspPane {
	position: absolute;
	left:0 !important;
}
.jspContainer {
	overflow:hidden;
	position: relative;
}
.jspVerticalBar, .jspDrag {
	position:absolute;
	width:4px;
	top:0;
	right:0px;
	z-index:5;
}
.jspVerticalBar {
	width:9px;
}
.jspDrag {
	background:#bebebe;
	border-radius:5px;
	cursor: pointer;
	right:4px;
}
.jspPane {
	position:absolute;
}
.yvoire {
	width:976px;
	margin:0 auto;
}
.yvoire .content, .yvoire .inner {
	width:655px;
	float:left;
}
.yvoire .adv {
	display: none;
}
.yvoire-sidebar {
	float:right;
	width:302px;
	margin-top:90px;
}
.yvoire-sidebar a {
	display: block;
	margin-bottom: 20px;
}
.yvoire .inner img {
	border:none;
}