.not-found{
	font-size:18px;
}
.country.c357, .country .v357 {
	background-image:url('images/countries/c357.png');
}
.country.c1438, .country .v1438 {
	background-image:url('images/countries/c1438.png');
}
.country.c1425, .country .v1425 {
	background-image:url('images/countries/c1425.png');
}
.country.c1432, .country .v1432 {
	background-image:url('images/countries/c1432.png');
}
.country.c1455, .country .v1455 {
	background-image:url('images/countries/c1455.png');
}
.country.c1426, .country .v1426 {
	background-image:url('images/countries/c1426.png');
}
.country.c1539, .country .v1539 {
	background-image:url('images/countries/c1539.png');
}
.country.c1427, .country .v1427 {
	background-image:url('images/countries/c1427.png');
}
.country.c1534, .country .v1534 {
	background-image:url('images/countries/c1534.png');
}
.country.c1441, .country .v1441 {
	background-image:url('images/countries/c1441.png');
}
.country.c1440, .country .v1440 {
	background-image:url('images/countries/c1440.png');
}
.country.c1524, .country .v1524 {
	background-image:url('images/countries/c1524.png');
}
.country.c1529, .country .v1529 {
	background-image:url('images/countries/c1529.png');
}
.country.c1547, .country .v1547 {
	background-image:url('images/countries/c1547.png');
}

#ui-datepicker-div {
	background: #f0f0f0;
	border: 2px solid #5c5c5c;
	width:186px;
	display: block;
}
.ui-datepicker-calendar {
	border-spacing: 0;
	border-collapse: collapse;
	width:185px;
}
.ui-datepicker-calendar td {
	padding:0;
	border: 1px solid #d1d1d1;
	text-align: center;
}
.ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
	display: block;
	text-decoration: none;
	width:100%;
	padding:2px 0;
}
.ui-datepicker-calendar a:hover {
	background:#e50364;
	color:#fff;
}
.ui-datepicker-calendar .ui-datepicker-current-day {
	border:2px solid #e50364;
}
.ui-datepicker-calendar td span {
	color:#c6c6c6;
}
.ui-datepicker-title {
	text-align: center;
	position: absolute;
	top: 2px;
	left: 41px;
	width: 106px;
}
.ui-datepicker-next, .ui-datepicker-prev {
	cursor:pointer;
	display: block;
	position: absolute;
	text-indent: -10000px;
	width: 20px;
	height: 25px;
	border: 2px solid #5c5c5c;
	top:0;
	border-top:none;
	border-bottom:none;
	background:url('images/calendarrow.png') 6px 3px no-repeat;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background-color:#e50364;
	background-position: -14px 3px;
	border-color:#e50364;
}
.ui-datepicker-prev {
	left:0;
	border-left: none;
	background-position: 6px -27px;
}
.ui-datepicker-prev:hover {
	background-position: -14px -27px;
}
.ui-datepicker-next {
	right:0;
	border-right: none;
}
.ui-datepicker-header {
	height: 25px;
	border-bottom: 2px solid #5c5c5c;
}