.not-found{
	font-size:18px;
}
.country.c357, .country .v357 {
	background-image:url('images/countries/c357.png');
}
.country.c1438, .country .v1438 {
	background-image:url('images/countries/c1438.png');
}
.country.c1425, .country .v1425 {
	background-image:url('images/countries/c1425.png');
}
.country.c1432, .country .v1432 {
	background-image:url('images/countries/c1432.png');
}
.country.c1455, .country .v1455 {
	background-image:url('images/countries/c1455.png');
}
.country.c1426, .country .v1426 {
	background-image:url('images/countries/c1426.png');
}
.country.c1539, .country .v1539 {
	background-image:url('images/countries/c1539.png');
}
.country.c1427, .country .v1427 {
	background-image:url('images/countries/c1427.png');
}
.country.c1534, .country .v1534 {
	background-image:url('images/countries/c1534.png');
}
.country.c1441, .country .v1441 {
	background-image:url('images/countries/c1441.png');
}
.country.c1440, .country .v1440 {
	background-image:url('images/countries/c1440.png');
}
.country.c1524, .country .v1524 {
	background-image:url('images/countries/c1524.png');
}
.country.c1529, .country .v1529 {
	background-image:url('images/countries/c1529.png');
}
.country.c1547, .country .v1547 {
	background-image:url('images/countries/c1547.png');
}