@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
html,body,textarea,input,a {
	margin:0;
	padding:0;
	font-family:"PT Sans";
	font-size:13px;
	color:#2c2c2c;
	line-height: 20px;
}
body {
	background:#dddddd;
}
.none {
	display: none;
}
.experts .quote, .cl, .items .item.event ul.list2 {
	clear:both;
}
.cols, .social span, .promotions, ul.stat li, .social a, .logo, .head form input.text, .head .menu, .head .menu li,
.general-news .title h1, .general-news .title h2, .general-news, .general-news .col2 .img, .general-news .subscribe, .adv,
.experts ul li, .item.promotion, .articles, .articles .menu li,.item.detail .menu li, .item.article, .media .item, .media .menu li, .footer .menu li,
.crumb, .crumb li, .nav, .nav li, .inner, .item.detail .gallery, .similars, .item.producer .img, .item.product .img, .items .item.producer li,
.inner .title .menu li, .search-founded .menu li, .inner .products .item.product, .item.training .img, .item.detail .user img, .item.event .img, .items .item.event ul.list1,
.win-gallery-previews li{
	float:left;
	display: block;
}
.experts, .panel a.cols, .head form, .head li.last, .general-news .col2, .adv.right, .promotion .time, .filter,
.clinics img, .item.company .img {
	float:right;
}
.wrap,.gallery-desc {
	background:#f0f0f0;
}
.wrap {
	max-width: 1280px;
	margin:0 auto;
	box-shadow: 0 0 10px #aaa;
}
.social a, .arrow i, ul.stat i, .promotion .time i, .promotion .prices i, .media .item span, .media .menu .first a,
.promotion .time i, .promotion .prices i, .item.detail .clinic .col1 a, .select .arrow, .item.company p i, .gallery .arrow i, td.prices i,
.filter .date i, .win-close, .checked{
	background-image:url('../images/complex.png');
	background-repeat: no-repeat;
}
ul {
	list-style-image: url('../images/icons/list.png');
}
ul li:last-child, ul li.last-child {
	margin-bottom: 0;
}
.panel_in,.head, .content {
	width:976px;
	margin:0 auto;
}
.panel {
	height:30px;
	background:#2b2b2b;
}
.panel, .panel a {
	color:#fff;
	line-height:28px;
}
.panel .col1 {
	width:415px;
}
.panel .col1 a {
	margin-top:6px;
	margin-left: 20px;
	float: left;
	display: block;
	line-height: 15px;
}
.panel .col1 b {
	float:left;
	font-weight: normal;
}
.arrow {
	position: relative;
	border-bottom:1px dotted #2c2c2c;
	text-decoration: none;
}
.panel .arrow {
	border-bottom-color: #fff;
}
.arrow i {
	display: block;
	width:11px;
	height:11px;
	border:2px solid #959595;
	position:absolute;
	top: 3px;
	right: -21px;
}
.arrow.gray i {
	background-position: -55px -56px;
}
.arrow.black i {
	background-position: -38px -56px;
	border-color:#2c2c2c;
}
.arrow.active, .arrow:hover i {
	border-color:#e60364;
	background-position: -71px -56px;
}
.panel .arrow i {
	top:1px;
}
.panel .col2 {
	width:520px;
}
.panel a.cols {
	width:40px;
}
.social a {
	display: block;
	width:30px;
	height:30px;
	margin-left:10px;
	text-indent:-10000px;
}
.panel .social a {
	width:18px;
	height:17px;
	margin-top:6px;
}
.panel .social a.fb {
	background-position:0 -34px;
}
.panel .social a.fb:hover {
	background-position:-21px -34px;
}
.panel .social a.tw {
	background-position:-132px -34px;
}
.panel .social a.tw:hover {
	background-position:-155px -34px;
}
.panel .social a.vk {
	background-position:-180px -34px;
}
.panel .social a.vk:hover {
	background-position:-203px -34px;
}
.panel .social a.ok {
	background-position:-89px -34px;
}
.panel .social a.ok:hover {
	background-position:-111px -34px;
}
.panel .social a.lj {
	background-position:-44px -34px;
}
.panel .social a.lj:hover {
	background-position:-68px -34px;
}
.panel .social a.gp {
	background-position:-354px -67px;
}
.panel .social a.gp:hover {
	background-position:-331px -67px;
}
.panel .social a.yt {
	background-position:-376px -67px;
}
.panel .social a.yt:hover {
	background-position:-398px -67px;
}
.head {
	height:160px;
	margin-top:25px;
	border-bottom: 1px solid #5c5c5c;
}
.logo {
	width:175px;
	height:28px;
	background:url('../images/logo.png') 0 0 no-repeat;
	padding:14px 0 0 190px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 15px;
}
.head form {
	width:560px;
}
input {
	outline: none;
}
input.text, .select {
	background:#fff;
	border-radius: 0;
	border:1px solid #d1d1d1;
}
input.text, .select, .select a {
	font-size:14px;
	text-decoration: none;
}
input.text {
	padding: 3px 12px;
	min-width: 164px;
}
.submit {
	background:none;
	border:2px #5c5c5c solid;
	text-align: center;
	cursor:pointer;
	text-transform: uppercase;
	height: 26px;
	display: block;
	font-weight: bold;
	text-decoration: none;
	line-height: 26px;
	font-size: 14px;
}
.submit:hover, .win-close:hover {
	background-color:#e50264;
	border-color:#e50264;
	color:#fff;
}
.head form input.text {
	height:40px;
	width:440px;
	padding:0 15px;
	margin-right:5px;
}
.head form .submit {
	width:83px;
	height:42px;
	font-size:14px;
	font-weight:bold;
}
.head .menu, .head .submenu, ul.menu, ul.stat, .cities ul, .crumb, .nav, .item.detail .tab-c ul,
.items .item.producer ul, .items .item.product ul, .item.producer .current ul, .item.product .current ul,
.items .item.event ul, .win-gallery-previews{
	list-style: none;
	padding:0;
	margin:0;
}
.head .menu {
	width:100%;
	height:80px;
	margin-top:38px;
	background:url('../images/top_menu_rep.png') 0 0 repeat-x;
	position: relative;
}
.head .menu li {
	height:40px;
	margin:0;
}
.head .menu li a {
	display: block;
	padding: 0 17px;
	font-size:14px;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 38px;
	height:100%;
}
.head .menu li.main a {
	background:#f0f0f0;
	border:2px #e50264 solid;
	color:#e50264;
	position: relative;
	top: -2px;
	left: 0;
	padding: 0 15px;
	z-index:3;
	font-weight: bold;
}
.head .menu li .submenu a {
	background:none;
	border:none;
	color:#2C2C2C;
	position: static;
	text-transform: none;
	font-weight: normal;
}
.head .menu li a:hover, .head .menu li.second_active a {
	color:#e50264;
}
.head .submenu {
	position:absolute;
	top:39px;
	border:2px solid #5c5c5c;
	border-top:none;
	display: none;
	width:972px;
	left:0;
	height:40px;
}
.head li.active .submenu {
	display: block;
}
.head li.last {
	background:url('../images/top_menu_rep_pink.png') 0 0 repeat-x;
}
.head li.last.main a, .head li.last a {
	padding:0 14px;
	position: static;
	color:#fff;
	border:none;
	background:none;
}
.head li.last a:hover {
	color:#fff;
}
img, .img {
	border:1px solid #d1d1d1;
}
.img img {
	border:none;
	max-width: 100%;
}
.img a {
	display: block;
}
h1, h2 {
	font-weight:normal;
	text-transform: uppercase;
	font-size:30px;
	margin:0;
	line-height: 22px;
}
.img {
	position:relative;
	overflow:hidden;
}
.img div, .img span {
	position: absolute;
	top:0;
	left:0;
	background:url('../images/shadow.png') 0 0 repeat;
	color:#fff;
	width:100%;
	height:100%;
}
.img div {
	display: none;
}
.img:hover div {
	display: block;
}
.img p, .img h3 {
	margin:0;
	font-weight: normal;
	padding:20px;
	display: block;
	line-height: 15px;
}
.img h3 {
	padding:7px 20px;
	font-size: 17px;
	line-height: 17px;
}
.img span {
	top:auto;
	bottom:0;
	width: auto;
	height:auto;
	padding:4px 8px;
}
.general-news {
	margin-top:40px;
	height:400px;
}
.general-news .title h2 {
	color:#a2a2a2;
	font-size:18px;
	line-height: 18px;
	margin: 7px 0 0 15px;
}
.general-news .img {
	cursor:pointer;
}
.general-news .col1 {
	width:395px;
}
.general-news .col1 .img div {
	height:auto;
	display: block;
}
.general-news .col2 {
	width:332px;
}
.general-news .col2 .img, .general-news .subscribe {
	margin-left:20px;
	margin-bottom:20px;
	width:143px;
}
.general-news .subscribe {
	border-top:1px solid #5c5c5c;
}
.general-news .subscribe h3 {
	text-transform: uppercase;
	height: 53px;
	font-weight: normal;
	line-height: 20px;
	margin: 16px 0 0 0;
	text-align: center;
}
.general-news .col1 a.text {
	font-size:16px;
	line-height: 20px;
	text-decoration: none;
	margin-top:30px;
	display: block;
}
.general-news .col1 a:hover {
	color:#e50364;
}
ul.stat {
	margin:15px 0 0 0;
	height:19px;
}
.adv, .filter {
	background:#d1d1d1;
	position: relative;
}
.adv-out, .filter {
	background:none;
	padding:19px;
	border:1px solid #d1d1d1;
}
.adv-out .adv {
	width:100%;
	height:100%;
}
.adv span {
	color:#707070;
	position: absolute;
	top:50%;
	left:50%;
	font-size:30px;
	text-transform: uppercase;
	margin:-9px 0 0 -55px;
}
.adv.right, .filter {
	width:190px;
	height:360px;
	margin-top:20px;
	clear:right;
}
.adv.top {
	width:727px;
	height:100px;
	margin-top:40px;
}
.adv.bottom {
	width:100%;
	height:220px;
	margin:80px 0 0 0;
}
ul.stat li {
	padding-left:20px;
	margin-right:15px;
	position: relative;
	height:16px;
	font-size: 12px;
	line-height: 15px;
	color:#656565;
}
ul.stat li.date {
	padding-left:0;
	margin-right: 20px;
	font-style: italic;
}
ul.stat i {
	display: block;
	width:16px;
	height:16px;
	position: absolute;
	top:0;
	left:0;
	background-position: -227px -35px;
}
ul.stat .comments i, ul.stat .unlikes i {
	top:2px;
}
ul.stat .likes i {
	top:-1px;
	background-position: -248px -34px;
}
ul.stat .unlikes i {
	background-position: -271px -35px;
}
.experts {
	width:230px;
	margin-top:40px;
	border: 1px solid #D1D1D1;
	text-align: center;
	height:524px;
}
.experts h2 {
	font-size:18px;
	margin:25px 0 35px 0;
}
.experts .item {
	text-align: left;
}
.experts .user {
	float: right;
	width: 146px;
	margin-bottom: 25px;
	line-height: 15px;
	height:185px;
}
.item.detail .menu a, .experts .quote,
.inner .products .item.product .cols {
	padding:0 20px;
}
.experts .user b {
	display: block;
	font-size: 14px;
	margin:10px 0 15px 0;
	font-weight: normal;
}
.experts .user i {
	font-size:12px;
}
.experts .quote {
	height:165px;
}
.experts h3, .item.detail .clinic h3, .item h3, .item h3 a,
.inner .products .item.product h2, .inner .products .item.product h2 a, .item.detailt .product h2 a  {
	font-size:18px;
}
.experts h3 {
	margin:0 0 25px 0;
}
.experts p {
	margin:0;
}
.experts ul {
	height:22px;
	margin:25px 0 0 0;
	display: inline-block;
	zoom:1;
	*display:inline;
}
.experts li {
	width:22px;
	height:22px;
	margin-right:10px;
	position: relative;
}
.experts li a, .experts li i {
	display: block;
	width:100%;
	height:100%;
}
.experts li a:hover {
	border:1px solid #cac8c8;
}
.experts li.active a {
	cursor: default;
	border:none;
}
.experts li i {
	width:13px;
	height:13px;
	background:#cac8c8;
	position: absolute;
	top:50%;
	left:50%;
	margin:-5px 0 0 -5px;
}
.experts li.active i {
	background:#5c5c5c;
}
.items {
	overflow:hidden;
	width:100%;
}
.items .item, .inner .products .item.product {
	width:227px;
	margin-right:20px;
	cursor:pointer;
}
.promotions {
	width:727px;
	height:385px;
	margin-top:40px;
	border-bottom:1px solid #D1D1D1;
	position: relative;
}
.item.detail .promotions {
	height:auto;
	border:none;
}
.item.detail .promotions {
	margin:0;
}
.similars {
	margin-top:70px;
}
.item.promotion, .item.promotion .current {
	position: relative;
	border:1px solid #D1D1D1;
	padding-bottom:15px;
	cursor: pointer;
}
.item.promotion:hover, .item.company:hover,
.item.product:hover, .item.producer:hover, .item.training:hover, .item.event:hover {
	border-color:#e50364;
}
.item .perc, .promotion .perc, .item.training .date, .item.event .date {
	width:40px;
	padding:23px 0 5px 0;
	background:#e50364;
	height:16px;
	color:#fff;
	font-size:16px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top:0;
	left:22px;
}
.item.promotion.last, .item.promotion:last-child {
	margin-right: 0;
}
.item.promotion h3 {
	margin:25px 0 25px 20px !important;
	width:185px;
	height: 40px;
}
.item.promotion a {
	display: block;
}
.item.promotion img, .inner .products .item.product .img {
	float:none !important;
	border-top:none;
	border-left:none;
	border-right:none;
}
.item.promotion .prices {
	width: 100px;
	margin-left: 20px;
}
.item.promotion .prices b, .item.promotion .prices s, .item.promotion .time, td.prices span,
.item.training .current {
	position: relative;
}
.item.promotion .prices b {
	color:#e50364;
	font-size:18px;
	margin-bottom:10px;
	line-height: 15px;
	padding-right:15px;
	display: block;
	float:left;
}
.item.promotion .prices i, .item.promotion .time i, td.prices i{
	display: block;
	top:0;
	right:0;
	position: absolute;
}
.item.promotion .prices b i {
	background-position: -89px -54px;
	width:9px;
	height:13px;
	top:1px;
}
.item.promotion .prices s, td.prices span {
	padding-right: 12px;
	clear: both;
	float:left;
	display: block;
	line-height: 13px;
}
td.prices span {
	padding-right:15px;
}
.item.promotion .prices s i, td.prices i {
	background-position: -106px -56px;
	width:10px;
	height:9px;
	top:2px;
}
.item.promotion .time {
	margin-right: 20px;
	padding-left: 20px;
	font-size: 12px;
}
.item.promotion .time i {
	width:16px;
	height:16px;
	right:auto;
	left:0;
	top:1px;
	background-position: -324px -34px;
}
.item.promotion .current {
	height:77px;
	padding:0;
	margin:35px 0 20px 0;
}
.item.promotion .current .time {
	float:left;
}
.item.promotion .current .perc, .item.training .date {
	padding: 0;
	width: 65px;
	left: 0;
	top: 10px;
	height: 43px;
	font-size: 24px;
	line-height: 41px;
}
.item.promotion .current .prices, .promotion .time {
	margin-top:13px;
}
.item.promotion .current .prices {
	margin-left:82px;
	width:165px;
}
.item.promotion .current .time span {
	display: block;
	position: relative;
	left: -20px;
}
.title, .inner .similars .title {
	width:100%;
	height:22px;
	margin-bottom:20px;
}
.title h2, .title a {
	float:left;
}
.title a {
	font-size: 14px;
	color:#5c5c5c;
	margin: 7px 0 0 30px;
}
.title a:hover {
	text-decoration: none;
}
.title .arrow {
	float:right;
	margin:2px 21px 0 0;
	color:#2c2c2c;
}
.cities {
	width:100%;
	background:#2b2b2b;
	border-top:1px solid #3b3b3b;
	color:#959595;
}
.cities-in {
	padding:25px 20px 25px 85px;
	height:95px;
}
.cities h4 {
	font-size:18px;
	margin:0;
	text-transform: uppercase;
	font-weight: normal;
}
.cities .col1 {
	width:250px;
}
.cities .col1 ul {
	margin-top:30px;
}
.cities li {
	display: block;
	margin-bottom:5px;
}
.cities li, .cities a {
	line-height: 15px;
}
.cities a {
	color:#fff;
	text-decoration: none;
	float:none;
	margin:0;
}
.cities a:hover, .cities .active a {
	color:#e50364 !important;
}
.cities .col2 h4, .cities .col2 ul {
	float:left;
	width:155px;
}
.promotions .cities-in {
	padding-left:20px;
	height:250px;
}
.promotions .cities {
	background:#dddddd;
	border:2px solid #e50364;
	position:absolute;
	z-index:2;
	top:42px;
	color:#7c7c7c;
}
.promotions .cities .content {
	width:auto;
	margin:0;
}
.promotions .cities .col1 {
	width:220px;
}
.promotions .cities h4, .promotions .cities a,
.inner .title .menu a, .search-founded .menu a {
	color:#2c2c2c;
}
.articles {
	width:100%;
	margin-top:40px;
}
.articles .menu, .articles .menu li, .articles .menu a,
.item.detail .menu, .item.detail .menu li, .item.detail .menu a{
	height:35px;
}
.articles .menu, .item.detail .menu {
	border:2px solid #5c5c5c;
	margin-bottom:15px;
}
.articles .menu li.last, .articles .menu li:last-child,
.item.detail .menu li.last, .item.detail .menu li:last-child {
	float:right;
	margin-right: 0;
}
.articles .menu li, .item.detail .menu li {
	width:228px;
	margin-right: 20px;
}
.articles .menu span, .media .menu a,
.item.detail .menu span, .item.detail .menu a,
.inner .title .menu a, .search-founded .menu a {
	border-bottom:1px dotted #2C2C2C;
	text-decoration: none;
}
.articles .menu a, .item.detail .menu a, .inner .title .menu a, .search-founded .menu a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.articles .menu a, .item.detail .menu a {
	display: block;
	font-weight: bold;
	width:100%;
	text-align: center;
	line-height: 33px;
	border-bottom: none;
}
.articles .menu a:hover span, .articles .menu li.active span,
.item.detail .menu a:hover span, .item.detail .menu li.active span,
.inner .title .menu a:hover, .inner .title .menu a.active, .arrow:hover,
.item.detail .properties h3 a:hover, .item.detail .properties h3 a.active, .search-founded .menu a:hover, .search-founded .menu a.active {
	color:#e50364;
	border-color:#e50364;
}
.articles .menu li.active span, .item.detail .menu li.active span {
	border:none;
}
.articles .menu li.active a, .item.detail .menu li.active a {
	border:2px solid #e50364;
	position: relative;
	top:-4px;
	left:-2px;
	background:#F0F0F0;
	height:39px;
	line-height: 37px;
}
.item.detail .menu {
	float:left;
	margin:40px 0;
	width:720px;
	text-align: center;
}
.item.detail .menu ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
	width: auto;
	height: 37px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.item.detail .menu li, .item.detail .menu a {
	width:auto;
	margin-right: 0;
}
.item.detail .menu a {
	font-size:14px;
}
.item.detail .menu li.active a {
	padding:0 18px;
}
.item.article {
	height:344px;
	position: relative;
}
.item.article .stat {
	position: absolute;
	bottom:0;
}
.inner .item.article {
	margin-bottom: 30px;
}
.item.article.last, .item.article:last-child {
	margin-right: 0;
}
.item.article h3, .item.article a,
.inner .products .item.product h2, .inner .products .item.product h2 a {
	display: block;
	text-decoration: none;
	margin: 25px 0;
	font-weight: bold;
}
.item.article:hover h3, .item.article:hover p,
.item.article:hover a {
	color:#e50364;
}
.inner {
	width:727px;
	margin-top:0;
}
.inner .title {
	margin:0 0 40px 0;
	float:left;
	width:100%;
}
.inner .item {
	margin-bottom:20px;
}
.inner .item:nth-child(3n+3),
.inner .item.last {
	margin-right: 0 !important;
	content: '<br />';
}
.inner .item:nth-child(3n+4),
.inner .item.first {
	clear:left;
}
.crumb, .nav {
	width:100%;
	margin:30px 0 40px 0;
}
.crumb li {
	padding-right:10px;
	margin: 0 4px 0 0;
	background:url('../images/icons/crumb.gif') right center no-repeat;
}
.crumb li.last, .crumb li:last-child {
	background:none;
	padding:0;
	margin:0;
}
.crumb a, .crumb b {
	color:#6a6a6a;
	font-size:12px;
	line-height: 10px;
	text-decoration: none;
	font-weight: normal;
}
.crumb b {
	color:#a5a5a5;
}
.nav {
	margin:50px 0 80px 0;
}
.nav li {
	margin: 0 10px 0 0;
}
.nav a, .nav b {
	display: block;
	height:25px;
	width:25px;
	border:2px solid #acacac;
	color:#545454;
	text-align: center;
	text-decoration: none;
	font-size:14px;
	line-height: 25px;
	font-weight: bold;
}
.nav a:hover, .nav b {
	border-color:#e50264;
	color:#e50264;
}
.nav a:hover {
	color:#fff;
	background:#e50264;
}
.media {
	float:left;
	width:100%;
	background:#dfdfdf;
	padding:20px 0;
	margin-top:80px;
}
.media .content, .item.training {
	position: relative;
}
.media .title, .item.detail .announce,
.item.detail ul.list li {
	margin-bottom:30px;
}
.media .menu {
	position: absolute;
	right:0;
	top:0;
}
.media .menu a {
	display: block;
	padding:0;
	margin:3px 10px;
	line-height: 15px;
}
.media .menu a.active {
	margin:0;
	padding:1px 8px;
	border:2px solid;
}
.media .menu a:hover,.media .menu a.active {
	color:#e50364;
	border-color:#e50364;
}
.media .menu .first a {
	text-indent: -10000px;
	width:13px;
	height:13px;
	border:none;
	background-position: 0 -54px;
	margin:5px 10px 0 0;
}
.media .items {
	overflow:inherit;
}
.media .item {
	width:146px;
	cursor:pointer;
	margin:0 20px 20px 0;
	position: relative;
}
.media .item.last {
	margin-right: 0;
}
.media .item img {
	border:none;
	position: relative;
	z-index: 2;
}
.media .item span, .media .item .border {
	border:3px solid #e50364;
}
.media .item .border {
	position: absolute;
	z-index:1;
	height:100%;
	width:100%;
	top:-3px;
	left:-3px;
	display: none;
}
.media .item span, .media .item.video .border {
	border-color:#9f9f9f;
	border-width: 8px;
}
.media .item.video .border {
	top:-8px;
	left:-8px;
	display: block;
}
.media .item:hover .border {
	display: block;
}
.media .item span {
	background-position: -296px -34px;
	display: block;
	width:18px;
	height:18px;
	position: absolute;
	top:-8px;
	left:-8px;
	z-index:3;
}
.media .item.video:hover .border, .media .item.video:hover span {
	border-color:#e50364;
}
.item.detail h1, .item.detail h2 {
	text-transform: none;
	font-weight: bold;
	font-size:30px;
	line-height: 30px;
}
.item.detail h2 {
	font-size:24px;
	margin:60px 0 40px 0;
}
.item.detail .stat {
	margin-bottom:40px;
}
.item.detail .article-img, .item.detail .gallery {
	margin:0 0 40px 0;
}
.item.detail .article-img-in, .item.detail .gallery-in, .item.detail .gallery-in .item, .item.detail .gallery-in .img {
	height:460px;
}
.item.detail .article-img-in, .item.detail .gallery-in {
	text-align:center;
	width:725px;
}
.item.detail .gallery, .item.detail .gallery-in .item, .item.detail .article-img-in {
	background:#dddddd;
}
.item.detail .gallery-in .item {
	position: absolute;
	top:0;
	margin: 0;
	padding:0;
	text-align:center;
}
.item.detail .gallery-in .item .desc {
	display: none;
}
.item.detail .gallery-in .img, .item.detail .article-img-in, .inner .products .item.product .img,
.item.company .img-in, .item.producer .img-in, .item.product .img-in, .item.training .img-in, .item.event .img-in {
	display: table-cell;
	vertical-align: middle;
}
.item.detail .gallery-in .img, .item.detail .article-img-in {
	border:none;
}
.item.detail .gallery-in img, .item.detail .gallery-in .img {
	float:none;
}
.item.detail .article-img img {
	max-width:725px;
	max-height:460px;
	border:none;
}
.item.detail .article-img-desc, .item.detail .gallery-desc {
	height:30px;
	border-bottom:1px solid #cac8c8;
	font-size:12px;
	color:#6a6a6a;
	line-height: 28px;
}
.item.detail .gallery {
	position: relative;
	width:100%;
}
.gallery .arrow, .gallery .arrow i {
	display: block;
	position: absolute;
	background-position: -263px -54px;
	top:0;
	right:auto;
	border:none;
}
.gallery .arrow {
	height:55px;
	width:35px;
	border:2px solid #5c5c5c;
	top:50%;
	margin-top:-27px;
	left:10px;
	text-indent: -10000px;
}
.gallery .arrow i {
	width:16px;
	height:31px;
	top: 11px;
	left: 10px;
}
.gallery .arrow:hover i, .win-gallery .arrow i {
	background-position: -426px 0;
}
.gallery .arrow:hover {
	border-color:#e50364;
	background:#e50364;
}
.item.detail .gallery .arrow.right {
	left:auto;
	right:10px;
}
.item.detail .gallery .arrow.right i {
	background-position: -296px -54px;
}
.item.detail .gallery .arrow.right:hover i, .win-gallery .arrow.right i {
	background-position: -459px 0;
}
.item.detail .gallery-in .item, .item.detail .gallery-in,
.item.detail .gallery-in .img {
	width:605px;
}
.item.detail .gallery-in {
	margin-left:60px;
	overflow: hidden;
	position: relative;
}
.item.detail q {
	padding:20px;
	background:#dddddd;
	display: block;
	quotes: '';
}
.item.detail p {
	margin:30px 0;
}
.item.detail .info {
	border-top:1px solid #5c5c5c;
	padding-top:15px;
	float: left;
	width: 100%;
}
.item.detail .info.nobo {
	border:none;
	margin-bottom:20px;
}
.item.detail .info img {
	border:none;
}
.item.detail .info .social .cols, .item.training .img, .item.event .img {
	margin-right:20px;
}
.item.detail .info .author {
	float:right;
	text-align: right;
}
.item.detail .info .author b {
	display: block;
}
.item.detail .announce, .item.detail .clinic, .item.detail .clinic a {
	font-size:15px;
}
.item.detail .more {
	color:#E50364;
}
.item.detail .clinic {
	height: 120px;
	margin:60px 0 40px 0;
}
.item.detail .clinic h3 {
	margin:0 !important;
	height: auto;
	width:100%;
}
.item.detail .clinic .col1 {
	width:85px;
}
.item.detail .clinic .col1 a {
	display: block;
	width:30px;
	height:20px;
	background-color:#E50364;
	background-position: -115px -51px;
}
.item.detail .clinic .col2 {
	width:330px;
}
.item.detail .clinic span {
	display: block;
	margin-top:30px;
}
.filter {
	background:#e8e8e8;
	color:#2c2c2c;
	height:auto;
}
.filter h4 {
	font-size:18px;
	text-transform: uppercase;
	font-weight: normal;
	margin:0;
	text-align: center;
}
.filter .title {
	margin-bottom:20px;
	height:auto;
}
.filter .title span {
	display: block;
	text-align: center;
	margin-top:8px;
}
.filter .field {
	margin-bottom:13px;
	position: relative;
}
.field label {
	font-weight:bold;
	font-size:14px;
	display: block;
	color:#5f5f5f;
}
.field.disabled label {
	color:#b8b8b8;
}
.filter select {
	visibility: hidden;
	height:28px;
}
.filter .select, .filter .input.text {
	height:26px;
}
.filter .date {
	overflow: hidden;
}
.filter .date div {
	float:left;
	width:90px;
	position: relative;
}
.filter .date div.to {
	float:right;
}
.filter .date input {
	width:74px;
	min-width: 0;
	padding:3px 7px;
}
.filter .date i {
	display: block;
	width:16px;
	height:16px;
	background-position: 0 -69px;
	position: absolute;
	top:6px;
	right:5px;
	cursor: pointer;
}
.field .block {
	background:#e8e8e8;
	position: absolute;
	z-index:2;
	height: 100%;
	width:100%;
	display: none;
	top:0;
	left:0;
	opacity: 0.6;
}
.field.disabled .block {
	display: block;
}
.select {
	position: relative;
}
.select .items {
	display: none;
	background: #FFF;
	top: 26px;
	position: absolute;
	border: 1px solid #D1D1D1;
	left: -1px;
	z-index: 1;
}
.select a, .select em {
	text-decoration: none;
	display: block;
	line-height: 26px;
	height: 26px;
	padding:0 26px 0 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.select .items .item {
	width:100%;
}
.select em {
	padding:0;
	font-style: normal;
}
.select .items a:hover {
	background-color:#e50364;
	color:#fff;
}
.select .arrow {
	background-color:#f0f0f0;
	background-position: -141px -53px;
	border: 2px solid #5c5c5c;
	width:24px;
	height:24px;
	display: block;
	position: absolute;
	top:-1px;
	right:-1px;
	padding:0;
}
.select .arrow.active, .select .arrow:hover {
	background-position: -161px -53px;
	border-color:#e50364;
}
.select .arrow:hover {
	background-color:#e50364;
	background-position: -181px -53px;
}
.field.disabled .select .arrow {
	border-color:#c9c9c9;
	background-position: -203px -53px;
}
.filter .submit {
	height:36px;
	width:100%;
	margin-top:20px;
}
.filter .clear {
	font-size: 12px;
	color: #5C5C5C;
	text-decoration: none;
	border-bottom: 1px dotted #5C5C5C;
	display: block;
	width: 90px;
	margin: 20px auto 0 auto;
}
.item.company h2 a, .item.producer h2 a, .item.product h2 a, .item.training h2 a,
.item.event h2 a {
	font-size:24px;
	text-decoration: none;
	line-height: 30px;
}
.item.company h2, .item.producer h2, .item.product h2, .item.training h2, .item.event h2 {
	margin:0 0 10px 0;
	text-transform: none;
	font-weight: bold;
}
.item.company, .item.producer, .item.product, .item.training, .item.event {
	border:1px solid #d1d1d1;
	width:685px;
	padding:20px 20px 30px 20px;
}
.item.producer, .item.product, .item.training, .item.sponsor, .item.event {
	padding-bottom:20px;
	height: auto;
	overflow: hidden;
}
.item.company .item-in {
	width:100%;
	overflow: hidden;
}
.item.company .col1 p {
	margin: 10px 0 15px 0;
	width:100%;
	line-height: 13px;
}
.item.company .col1, .item.company .col1 p {
	width:445px;
}
.item.company .col1, .content .item.detail.sponsor .col1 {
	border-left: 3px solid #e60365;
	padding-left:15px;
	margin-top:25px;
	height:100%;
}
.item.company .col1 span, .item.company .col1 a,
.item.detail.center .col1 span {
	display: block;
	margin-bottom:15px;
	font-size: 14px;
	line-height: 14px;
}
.item.company .col1 a, .item.detail .tab-c a, h1 a:hover, h2 a:hover, p a, .item:hover h1 a, .item:hover h2 a, .item.search a {
	color:#e60365;
	text-decoration: none;
	margin-bottom:0;
}
.item.company .col1 a:hover, .item.detail .tab-c a:hover, p a:hover, .item.search a:hover {
	text-decoration: underline;
}
.item.company h1, .item.producer h1, .item.product h1,
.item.training h1, .item.event h1 {
	margin-bottom:30px;
}
.item.company .img-in, .item.producer .img-in, .item.product .img-in, .item.training .img-in,
.item.event .img-in {
	float: none;
	position: static;
	background:#fff;
	width:210px;
	height:100px;
	text-align: center;
}
.item.detail.company .img-in, .item.detail.producer .img-in, .item.detail .company .img-in,
.item.event .img-in {
	width:226px;
	height:117px;
}
.item.detail.company .col1 p {
	margin:13px 0 20px 0;
	padding-left:28px;
	position: relative;
	line-height: 20px;
	height:20px;
}
.item.detail.company .col1 p i {
	display: block;
	width:19px;
	height:19px;
	background-position: -235px -54px;
	position: absolute;
	top:1px;
	left:0;
}
.item.detail.company .col1 {
	width:477px;
	border:none;
	border-bottom:1px solid #cac8c8;
	padding-bottom:15px;
	margin:0;
	padding-left:0;
	height:103px;
}
.item.detail.center .col1 {
	height:88px;
	margin-top:15px;
}
.item.detail.company .col1 span {
	margin-bottom:4px;
}
.item.detail.center .col1 span{
	margin-bottom:15px;
}
.item.detail.company .tab-s h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin: 0;
	font-weight: normal;
}
.item.company h3 {
	margin:30px 0 20px 0;
	font-size:18px;
}
.item.producer .img-in {
	width:124px;
	height:117px;
}
.item.product .img-in {
	width:200px;
	height:200px;
}
.items .item.producer ul, .item.producer .current ul, .items .item.product ul {
	float:left;
	width: 100%;
	margin:5px 0 30px 0;
}
.item.producer .cols, .item.product .cols {
	float:right;
	width:538px;
}
.item.product .cols {
	width:463px;
}
.items .item.producer p, .items .item.product p {
	margin:0;
	clear: both;
}
.items .item.producer ul a, .items .item.product ul a,
.item.producer .current a, .item.product .current a,
.items .item.training a.link, .item.detail .user a, .item.detail .company a.link {
	color:#e60365;
	text-decoration: none;
}
li.country, span.country, .country .select .has-value, .country.big {
	display: block;
	padding-left:25px;
	background-position: 0 center;
	background-repeat: no-repeat;
	margin-bottom: 0;
}
li.country, span.country {
	height:20px;
	margin-right: 20px;
}
.country .select .items .has-value {
	background-position: 14px center;
	padding-left: 39px;
}
.country.c1, .country .v1 {
	background-image:url('../images/content/c1.png');
}
.country.c2, .country .v2 {
	background-image:url('../images/content/c2.png');
}
.item.product .country, .item.detail.producer .country {
	margin-bottom: 10px;
}
.country.big {
	height:41px;
}
.country.k1 {
	background-image:url('../images/content/country.png');
}
.item.detail.company img {
	background:#fff;
}
.item.detail table {
	border-collapse: collapse;
	width:555px;
	margin-bottom: 30px;
}
.item.detail table td {
	border:1px solid #d1d1d1;
	padding:7px 20px;
}
.item.detail table td.prices {
	width:100px;
}
.item.detail .tabs {
	float:left;
}
.item.detail .tab-c b, .item.detail .tab-c span, .item.detail .tab-c a {
	display: block;
	font-size:14px;
}
.item.detail .tab-c li, .items .item.training p {
	margin-bottom: 25px;
}
.item.detail {
	width:100%;
	border:none;
	padding:0;
}
.item.detail.producer .current, .item.detail.product .current {
	overflow: hidden;
}
.item.detail.producer .current ul,
.item.detail.product .current ul {
	width:477px;
	float: right;
}
.item.detail.producer h3,
.item.detail.product h3, .item.detail.training h3 {
	margin:65px 0 35px 0;
}
.inner .products .item.product {
	padding:0 0 20px 0;
	height:324px;
}
.inner .products.similars .item.product {
	height:293px;
}
.inner .products .item.product .img-in {
	background:#fff;
	height:150px;
	width:227px;
	text-align: center;
}
.inner .products .item.product .cols {
	float:none;
	width:auto;
}
.inner .products .item.product ul, .inner .products.similars .item.product p {
	margin:0;
	display: none;
}
.inner .products .item.product ul a,
.inner .products.similars .item.product ul {
	display: block;
}
.item.training .date {
	width:84px;
}
.item.training .date i, .item.event .date i {
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
}
.item.training .current .date {
	top:0;
}
.item.training .current {
	padding-left: 100px;
	line-height: 49px;
	height: 43px;
}
.item.training h2 {
	margin:2px 0 36px 80px;
}
.item.event {
	padding-top:0;
}
.item.event h2 a, .item.event h2, .item.sponsor h2, .item.sponsor h2 a {
	font-size:21px;
}
.item.event .date {
	width:64px;
	position: static;
	display: block;
	font-size:24px;
	height:20px;
	float:left;
	margin-right: 20px;
}
.items .item.event .country {
	margin:20px 0 5px 0;
}
.item.sponsor .col1, .item.event h2,
.content .item.detail.sponsor .col1{
	margin-top:20px;
}
.item.sponsor .col1 span {
	margin-bottom:5px;
}
.item.sponsor .col1 span.country {
	margin-bottom:10px;
}
.item.detail.product .img-in {
	width:227px;
	height:216px;
}
.inner .title .menu {
	float:right;
}
.item.detail .properties {
	margin-top:65px;
}
.item.detail .properties h3 {
	margin:0 0 20px 0;
}
.item.detail .properties h3 a {
	text-decoration: none;
	border-bottom:1px dotted #2C2C2C;
}
.item.detail .properties .items {
	margin-top:30px;
}
.item.detail .properties .gallery-in b {
	font-size:18px;
	text-transform: uppercase;
	position: absolute;
	top:40px;
	left:120px;
}
.item.detail .properties .gallery-in b.r {
	left:auto;
	right:120px;
}
.item.detail .properties .gallery-in .img {
	vertical-align: bottom;
	height: 420px;
}
.item.detail .user {
	width:100%;
	position: relative;
	height: 160px;
}
.item.detail .user img {
	margin:0 20px 20px 0;
}
.item.detail .user h4, .item.detail .user h4 a, .item.detail .company h4, .item.detail .company h4 a {
	font-size:15px;
	margin:0 0 30px 0;
	text-decoration: none;
}
.item.detail .user a {
	position: absolute;
	bottom:0;
	left:250px;
}
.item.detail .company {
	border:none;
	padding:0;
	width: 100%;
}
.item.detail .company .img {
	float:left;
	margin-right: 0;
}
.item.detail .company .cols {
	width:226px;
}
.item.detail .company div, .item.event .img {
	margin-bottom: 20px;
}
.item.detail.sponsor .col1 {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 20px;
}
.item.detail.sponsor .img, .item.detail.sponsor .img-in {
	height: 100px;
	width: 209px;
}
.item.detail.sponsor h3 {
	margin:60px 0 30px 0;
}
.item.detail.event .current {
	height:38px;
	padding-top:10px;
	padding-left:84px;
	position: relative;
}
.item.detail.event .date {
	top:0;
	position: absolute;
	left:0;
}
.map {
	background:#d1d1d1;
	float:right;
	width:477px;
	height:300px;
}
.checked {
	display:block;
	float:left;
	width:29px;
	height:28px;
	background-position: -446px -57px;
	margin-right: 10px;
	margin-top:2px;
}
form.search {
	float:left;
	width:100%;
	margin-bottom:50px;
}
form.search input, form.search div.select {
	float:left;
	margin-right:20px;
}
form.search .submit {
	padding:0 15px;
	height:28px;
}
.search-founded h2 {
	font-size:24px;
	text-transform: none;
	font-weight: bold;
	margin:0;
}
.search-founded li {
	margin-right: 20px;
}
.search-founded .menu a {
	font-size: 13px;
}
.search-founded ul {
	margin-top:20px;
}
.item.search {
	width:100%;
	margin-top:40px;
}
.item.search h3, .item.search p {
	margin:0 0 30px 0;
}
.item.search h3 {
	font-size:18px;
}
.item.search span.date {
	display:block;
	color:#a5a5a5;
	font-size:12px;
}
.item.search span.date i {
	color:#6a6a6a;
}
.footer {
	clear: both;
	padding-top:90px;
}
.footer-in {
	height:160px;
	background:url('../images/bot_rep.png') 0 0 repeat-x;
}
.footer .content {
	position: relative;
	height:100%;
}
.footer .menu {
	margin-top:30px;
}
.footer .menu a {
	color:#fff;
	font-size:14px;
}
.footer .menu li {
	margin:0 28px 0 0;
}
.footer .social {
	float:right;
	margin-top:20px;
}
.footer .social a.fb:hover {
	background-position: -34px 0;
}
.footer .social a.vk {
	background-position: -138px 0;
}
.footer .social a.vk:hover {
	background-position: -173px 0;
}
.footer .social a.tw {
	background-position: -68px 0;
}
.footer .social a.tw:hover {
	background-position: -102px 0;
}
.footer .social a.ok {
	background-position: -207px 0;
}
.footer .social a.ok:hover {
	background-position: -241px 0;
}
.footer .social a.lj {
	background-position: -275px 0;
}
.footer .social a.lj:hover {
	background-position: -310px 0;
}
.footer .social a.gp {
	background-position: -344px 0;
}
.footer .social a.gp:hover {
	background-position: -378px 0;
}
.footer .social a.yt {
	background-position: -344px -34px;
}
.footer .social a.yt:hover {
	background-position: -378px -34px;
}
.footer .copy {
	float:left;
	width:100%;
	color:#fff;
	font-size:12px;
	position: absolute;
	bottom:20px;
	left:0;
}
.footer .copy span {
	float:right;
	font-size:16px;
}
.win,.win-shadow, .win-gallery-in .item {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
}
.win, .win-shadow, .win-gallery .arrow, .win-gallery-head, .win-close {
	background-color:#2b2b2b;
	z-index:1;
}
.win {
	overflow: auto;
	z-index:10;
}
.win-wrap {
	width:940px;
	position: absolute;
	left:50%;
	margin-left:-470px;
	z-index:2;
}
.win-gallery {
	width:810px;
	margin:120px 0 0 65px;
}
.win-gallery-head {
	height:60px;
	border:2px solid #fff;
	border-bottom:none;
	padding:15px 20px 0 20px;
}
.win-gallery-head a {
	color:#fff;
	font-size:18px;
	text-decoration: none;
}
.win-gallery-head a:hover {
	color:#e60365;
}
.win-gallery-head span {
	color:#acacac;
	font-size:12px;
	margin-left:15px;
}
.win-gallery-head ul {
	margin-top:10px;
}
.win-gallery-in {
	padding:20px;
	background:#f0f0f0;
	position: relative;
	box-shadow: 0 2px 3px #000;
}
.win-gallery .arrow {
	left:-59px;
	border-color:#fff;
}
.win-gallery .arrow.right {
	left:auto;
	right:-59px;
}
.win-gallery p {
	margin:30px 0 0 0;
	color:#fff;
	font-size: 15px;
}
.win-gallery-previews {
	width:100%;
	margin-top:50px;
}
.win-gallery-items {
	position: relative;
}
.win-gallery-in, .win-gallery-items, .win-gallery-in .item, .win-gallery-in .item-in {
	width:770px;
	height:540px;
}
.win-gallery-in .item-in {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.win-gallery-in img {
	border:none;
	width:100%;
	height: 100%;
}
.win-gallery-in .item {
	background:#f0f0f0;
}
.win-gallery-previews li {
	margin:0 20px 20px 0;
	cursor:pointer;
}
.win-gallery-previews li, .win-gallery-previews img {
	width:146px;
	height:100px;
}
.win-gallery-previews li:hover, .win-gallery-previews li.active {
	opacity: 0.3;
}
.win-gallery-previews li.next, .win-gallery-previews li:nth-child(5n+5) {
	margin-right: 0;
}
.win-close {
	display: block;
	width:30px;
	height:30px;
	background-position: -417px -34px;
	position: absolute;
	top:70px;
	right:64px;
	border:2px solid #fff;
}
/*
body {
	-webkit-filter: blur(10px);
}
.shadow {
	position: fixed;
	top:0;
	left:0;
	background:#ddd;
	opacity: 0.8;
	width:100%;
	height: 100%;
}*/