@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
html,body,textarea,input,a {
	margin:0;
	padding:0;
	font-family:"PT Sans";
	font-size:13px;
	color:#2c2c2c;
	line-height: 18px;
}
body {
	background:#dddddd;
}
.none {
	display: none;
}
.cols, .social span, .promotions, ul.stat li, .social a, .logo, .head form input.text, .head .menu, .head .menu li,
.general-news .title h1, .general-news .title h2, .general-news, .general-news .col2 .img, .general-news .subscribe, .adv,
.experts ul li, .promotions .item, .articles, .articles .menu li, .articles .item, .media .item, .media .menu li, .footer .menu li{
	float:left;
	display: block;
}
.experts, .panel a.cols, .head form, .head li.last, .general-news .col2, .adv.right, .promotions .time {
	float:right;
}
.wrap {
	background:#f0f0f0;
	max-width: 1280px;
	margin:0 auto;
	box-shadow: 0 0 10px #aaa;
}
.social a, .arrow i, ul.stat i, .promotions .time i, .promotions .prices i, .media .item span, .media .menu .first a {
	background-image:url('../images/complex.png');
	background-repeat: no-repeat;
}
.panel_in,.head, .content {
	width:976px;
	margin:0 auto;
}
.panel {
	height:30px;
	background:#2b2b2b;
}
.panel, .panel a {
	color:#fff;
	line-height:28px;
}
.panel .col1 {
	width:415px;
}
.panel .col1 a {
	margin-left:20px;
}
.arrow {
	position: relative;
	border-bottom:1px dotted #2c2c2c;
	text-decoration: none;
}
.panel .arrow {
	border-bottom-color: #fff;
}
.arrow i {
	display: block;
	width:11px;
	height:11px;
	border:2px solid #959595;
	position:absolute;
	top: 3px;
	right: -21px;
}
.arrow.gray i {
	background-position: -55px -56px;
}
.arrow.black i {
	background-position: -38px -56px;
	border-color:#2c2c2c;
}
.arrow.active, .arrow:hover i {
	border-color:#e60364;
	background-position: -71px -56px;
}
.arrow:hover {
	color:#e60364 !important;
	border-color:#e60364;
}
.panel .col2 {
	width:520px;
}
.panel a.cols {
	width:40px;
}
.social a {
	display: block;
	width:30px;
	height:30px;
	margin-left:10px;
	text-indent:-10000px;
}
.panel .social a {
	width:18px;
	height:17px;
	margin-top:6px;
}
.panel .social a.fb {
	background-position:0 -34px;
}
.panel .social a.fb:hover {
	background-position:-21px -34px;
}
.panel .social a.tw {
	background-position:-132px -34px;
}
.panel .social a.tw:hover {
	background-position:-155px -34px;
}
.panel .social a.vk {
	background-position:-180px -34px;
}
.panel .social a.vk:hover {
	background-position:-203px -34px;
}
.panel .social a.ok {
	 background-position:-89px -34px;
}
.panel .social a.ok:hover {
	background-position:-111px -34px;
}
.panel .social a.lj {
	 background-position:-44px -34px;
}
.panel .social a.lj:hover {
	background-position:-68px -34px;
}
.head {
	height:160px;
	margin-top:25px;
}
.logo {
	width:175px;
	height:28px;
	background:url('../images/logo.png') 0 0 no-repeat;
	padding:14px 0 0 190px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 15px;
}
.head form {
	width:560px;
}
input {
	outline: none;
}
input.text {
	background:#fff;
	border-radius: 0;
	border:1px solid #d1d1d1;
}
.submit {
	background:none;
	border:2px #5c5c5c solid;
	text-align: center;
	cursor:pointer;
	text-transform: uppercase;
	height: 26px;
	display: block;
	font-weight: bold;
	text-decoration: none;
	line-height: 26px;
	font-size: 14px;
}
.submit:hover {
	background-color:#e50264;
	border-color:#e50264;
	color:#fff;
}
.head form input.text {
	height:40px;
	width:440px;
	padding:0 15px;
	margin-right:5px;
	font-size:14px;
}
.head form .submit {
	width:83px;
	height:42px;
	font-size:14px;
	font-weight:bold;
}
.head .menu, .head .submenu, ul.menu, ul.stat, .cities ul {
	list-style-type: none;
	padding:0;
	margin:0;
}
.head .menu {
	width:100%;
	height:80px;
	margin-top:38px;
	background:url('../images/top_menu_rep.png') 0 0 repeat-x;
	position: relative;
}
.head .menu li {
	height:40px;
}
.head .menu li a {
	display: block;
	padding: 0 17px;
	font-size:14px;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 38px;
	height:100%;
}
.head .menu li.active a {
	background:#f0f0f0;
	border:2px #e50264 solid;
	color:#e50264;
	position: relative;
	top: -2px;
	left: -2px;
	padding: 0 15px;
}
.head .menu li .submenu a {
	background:none;
	border:none;
	color:#2C2C2C;
	position: static;
	text-transform: none;
}
.head .menu li a:hover, .head .menu li.second_active .submenu a {
	color:#e50264;
}
.head .submenu {
	position:absolute;
	top:39px;
	border:2px solid #5c5c5c;
	border-top:none;
	display: none;
	width:972px;
	left:0;
	height:38px;
}
.head li.active .submenu {
	display: block;
}
.head li.last {
	background:url('../images/top_menu_rep_pink.png') 0 0 repeat-x;
}
.head li.last a {
	padding-right:14px;
}
.head li.last a:hover {
	color:#fff;
}
img, .img {
	border:1px solid #d1d1d1;
}
.img img {
	border:none;
}
.img a {
	display: block;
}
h1, h2 {
	font-weight:normal;
	text-transform: uppercase;
	font-size:30px;
	margin:0;
	line-height: 22px;
}
.img {
	position:relative;
	overflow:hidden;
}
.img div, .img span {
	position: absolute;
	top:0;
	left:0;
	background:url('../images/shadow.png') 0 0 repeat;
	color:#fff;
	width:100%;
	height:100%;
}
.img div {
	display: none;
}
.img:hover div {
	display: block;
}
.img p, .img h3 {
	margin:0;
	font-weight: normal;
	padding:20px;
	display: block;
	line-height: 15px;
}
.img h3 {
	padding:7px 20px;
	font-size: 17px;
	line-height: 17px;
}
.img span {
	top:auto;
	bottom:0;
	width: auto;
	height:auto;
	padding:4px 8px;
}
.general-news {
	margin-top:40px;
}
.general-news .title h2 {
	color:#a2a2a2;
	font-size:18px;
	line-height: 18px;
	margin: 7px 0 0 15px;
}
.general-news .img {
	cursor:pointer;
}
.general-news .col1 {
	width:395px;
}
.general-news .col1 .img div {
	height:auto;
	display: block;
}
.general-news .col2 {
	width:332px;
}
.general-news .col2 .img, .general-news .subscribe {
	margin-left:20px;
	margin-bottom:20px;
	width:143px;
}
.general-news .subscribe {
	border-top:1px solid #5c5c5c;
}
.general-news .subscribe h3 {
	text-transform: uppercase;
	height: 53px;
	font-weight: normal;
	line-height: 20px;
	margin: 16px 0 0 0;
	text-align: center;
}
.general-news .col1 a.text {
	font-size:16px;
	line-height: 20px;
	text-decoration: none;
	margin-top:30px;
	display: block;
}
.general-news .col1 a:hover {
	color:#e50364;
}
ul.stat {
	margin:15px 0 0 0;
	height:19px;
}
.adv {
	background:#d1d1d1;
	position: relative;
}
.adv-out {
	background:none;
	padding:19px;
	border:1px solid #d1d1d1;
}
.adv-out .adv {
	width:100%;
	height:100%;
}
.adv span {
	color:#707070;
	position: absolute;
	top:50%;
	left:50%;
	font-size:30px;
	text-transform: uppercase;
	margin:-9px 0 0 -55px;
}
.adv.right {
	width:190px;
	height:360px;
	margin-top:20px;
}
.adv.top {
	width:727px;
	height:100px;
	margin-top:40px;
}
.adv.bottom {
	width:100%;
	height:220px;
	margin:80px 0;
}
ul.stat li {
	padding-left:20px;
	margin-right:15px;
	position: relative;
	height:16px;
	font-size: 12px;
	line-height: 15px;
	color:#656565;
}
ul.stat li.date {
	padding-left:0;
	margin-right: 20px;
}
ul.stat i {
	display: block;
	width:16px;
	height:16px;
	position: absolute;
	top:0;
	left:0;
	background-position: -227px -35px;
}
ul.stat .comments i, ul.stat .unlikes i {
	top:2px;
}
ul.stat .likes i {
	top:-1px;
	background-position: -248px -34px;
}
ul.stat .unlikes i {
	background-position: -271px -35px;
}
.experts {
	width:230px;
	margin-top:40px;
	border: 1px solid #D1D1D1;
	text-align: center;
	height:524px;
}
.experts h2 {
	font-size:18px;
	margin:25px 0 35px 0;
}
.experts .item {
	text-align: left;
}
.experts .user {
	float: right;
	width: 146px;
	margin-bottom: 25px;
	line-height: 15px;
}
.experts .quote {
	clear:both;
	padding:0 20px;
}
.experts .user b {
	display: block;
	font-size: 14px;
	margin:10px 0 15px 0;
	font-weight: normal;
}
.experts .user i {
	font-size:12px;
}
.experts h3 {
	font-size:18px;
	margin:0 0 30px 0;
}
.experts p {
	margin:0;
}
.experts ul {
	height:22px;
	margin:30px 0 20px 0;
	display: inline-block;
	zoom:1;
	*display:inline;
}
.experts li {
	width:22px;
	height:22px;
	margin-right:10px;
	position: relative;
}
.experts li a, .experts li i {
	display: block;
	width:100%;
	height:100%;
}
.experts li a:hover {
	border:1px solid #cac8c8;
}
.experts li.active a {
	cursor: default;
	border:none;
}
.experts li i {
	width:13px;
	height:13px;
	background:#cac8c8;
	position: absolute;
	top:50%;
	left:50%;
	margin:-5px 0 0 -5px;
}
.experts li.active i {
	background:#5c5c5c;
}
.promotions {
	width:727px;
	height:385px;
	margin-top:40px;
	border-bottom:1px solid #D1D1D1;
	position: relative;
}
.promotions .item {
	width:227px;
	margin-right: 20px;
	position: relative;
	border:1px solid #D1D1D1;
	padding-bottom:15px;
	cursor: pointer;
}
.promotions .item:hover {
	border-color:#e50364;
}
.item .perc {
	width:40px;
	padding:23px 0 5px 0;
	background:#e50364;
	height:16px;
	color:#fff;
	font-size:16px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top:0;
	left:22px;
}
.promotions .item.last, .promotions .item:last-child {
	margin-right: 0;
}
.promotions h3 {
	font-size:18px;
	margin:25px 0 25px 20px;
	width:185px;
}
.promotions img {
	border-top:none;
	border-left:none;
	border-right:none;
}
.promotions .prices {
	width: 100px;
	margin-left: 20px;
}
.promotions .prices b, .promotions .prices s, .promotions .time {
	position: relative;
}
.promotions .prices b {
	color:#e50364;
	font-size:18px;
	margin-bottom:10px;
	line-height: 15px;
	padding-right:15px;
	display: block;
	float:left;
}
.promotions .prices i, .promotions .time i {
	display: block;
	top:0;
	right:0;
	position: absolute;
}
.promotions .prices b i {
	background-position: -89px -54px;
	width:9px;
	height:13px;
	top:1px;
}
.promotions .prices s {
	padding-right: 12px;
	clear: both;
	float:left;
	display: block;
}
.promotions .prices s i {
	background-position: -106px -56px;
	width:10px;
	height:9px;
	top:4px;
}
.promotions .time {
	margin-right: 20px;
	padding-left: 20px;
	font-size: 12px;
}
.promotions .time i {
	width:16px;
	height:16px;
	right:auto;
	left:0;
	background-position: -324px -34px;
}
.title {
	width:100%;
	height:22px;
	margin-bottom:20px;
}
.title h2, .title a {
	float:left;
}
.title a {
	font-size: 14px;
	color:#5c5c5c;
	margin: 7px 0 0 30px;
}
.title a:hover {
	text-decoration: none;
}
.title .arrow {
	float:right;
	margin:2px 21px 0 0;
	color:#2c2c2c;
}
.cities {
	width:100%;
	background:#2b2b2b;
	border-top:1px solid #3b3b3b;
	color:#959595;
}
.cities-in {
	padding:25px 20px 25px 85px;
	height:95px;
}
.cities h4 {
	font-size:18px;
	margin:0;
	text-transform: uppercase;
	font-weight: normal;
}
.cities .col1 {
	width:250px;
}
.cities .col1 ul {
	margin-top:30px;
}
.cities li {
	display: block;
	margin-bottom:5px;
}
.cities li, .cities a {
	line-height: 15px;
}
.cities a {
	color:#fff;
	text-decoration: none;
	float:none;
	margin:0;
}
.cities a:hover, .cities .active a {
	color:#e50364 !important;
}
.cities .col2 h4, .cities .col2 ul {
	float:left;
	width:155px;
}
.promotions .cities-in {
	padding-left:20px;
	height:240px;
}
.promotions .cities {
	background:#dddddd;
	border:2px solid #e50364;
	position:absolute;
	z-index:2;
	top:42px;
	color:#7c7c7c;
}
.promotions .cities .content {
	width:auto;
	margin:0;
}
.promotions .cities .col1 {
	width:220px;
}
.promotions .cities h4, .promotions .cities a {
	color:#2c2c2c;
}
.articles {
	width:100%;
	margin-top:40px;
}
.articles .menu, .articles .menu li, .articles .menu a {
	height:35px;
}
.articles .menu {
	border:2px solid #5c5c5c;
	margin-bottom:15px;
}
.articles .menu li.last, .articles .menu li:last-child {
	float:right;
	margin-right: 0;
}
.articles .menu li {
	width:228px;
	margin-right: 20px;
}
.articles .menu a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	width:100%;
	text-align: center;
	line-height: 33px;
}
.articles .menu span, .media .menu a {
	border-bottom:1px dotted #2C2C2C;
	text-decoration: none;
}
.articles .menu a:hover span, .articles .menu li.active span {
	color:#e50364;
	border-color:#e50364;
}
.articles .menu li.active span {
	border:none;
}
.articles .menu li.active a {
	border:2px solid #e50364;
	position: relative;
	top:-4px;
	left:-2px;
	background:#F0F0F0;
	height:39px;
	line-height: 37px;
}
.articles .item {
	width:228px;
	margin-right:20px;
	cursor:pointer;
}
.articles .item.last, .articles .item:last-child {
	margin-right: 0;
}
.articles h3 {
	font-size: 18px;
	margin: 25px 0;
}
.articles .item:hover h3, .articles .item:hover p {
	color:#e50364;
}
.articles .item:hover img {
	border-color:#e50364;
}
.media {
	float:left;
	width:100%;
	background:#dfdfdf;
	padding:20px 0;
}
.media .content {
	position: relative;
}
.media .title {
	margin-bottom:30px;
}
.media .menu {
	position: absolute;
	right:0;
	top:0;
}
.media .menu a {
	display: block;
	padding:0;
	margin:3px 10px;
	line-height: 15px;
}
.media .menu a.active {
	margin:0;
	padding:1px 8px;
	border:2px solid;
}
.media .menu a:hover,.media .menu a.active {
	color:#e50364;
	border-color:#e50364;
}
.media .menu .first a {
	text-indent: -10000px;
	width:13px;
	height:13px;
	border:none;
	background-position: 0 -54px;
	margin:5px 10px 0 0;
}
.media .item {
	cursor:pointer;
	margin:0 20px 20px 0;
	position: relative;
}
.media .item.last {
	margin-right: 0;
}
.media .item img {
	border:none;
	position: relative;
	z-index: 2;
}
.media .item span, .media .item .border {
	border:3px solid #e50364;
}
.media .item .border {
	position: absolute;
	z-index:1;
	height:100%;
	width:100%;
	top:-3px;
	left:-3px;
	display: none;
}
.media .item span, .media .item.video .border {
	border-color:#9f9f9f;
	border-width: 8px;
}
.media .item.video .border {
	top:-8px;
	left:-8px;
	display: block;
}
.media .item:hover .border {
	display: block;
}
.media .item span {
	background-position: -296px -34px;
	display: block;
	width:18px;
	height:18px;
	position: absolute;
	top:-8px;
	left:-8px;
	z-index:3;
}
.media .item.video:hover .border, .media .item.video:hover span {
	border-color:#e50364;
}
.footer {
	clear: both;
	padding-top:90px;
}
.footer-in {
	height:160px;
	background:url('../images/bot_rep.png') 0 0 repeat-x;
}
.footer .content {
	position: relative;
	height:100%;
}
.footer .menu {
	margin-top:30px;
}
.footer .menu a {
	color:#fff;
	font-size:14px;
}
.footer .menu li {
	margin-right: 28px;
}
.footer .social {
	float:right;
	margin-top:20px;
}
.footer .social a.fb:hover {
	background-position: -34px 0;
}
.footer .social a.vk {
	background-position: -138px 0;
}
.footer .social a.vk:hover {
	background-position: -173px 0;
}
.footer .social a.tw {
	background-position: -68px 0;
}
.footer .social a.tw:hover {
	background-position: -102px 0;
}
.footer .social a.ok {
	background-position: -207px 0;
}
.footer .social a.ok:hover {
	background-position: -241px 0;
}
.footer .social a.lj {
	background-position: -275px 0;
}
.footer .social a.lj:hover {
	background-position: -310px 0;
}
.footer .copy {
	float:left;
	width:100%;
	color:#fff;
	font-size:12px;
	position: absolute;
	bottom:20px;
	left:0;
}
.footer .copy span {
	float:right;
	font-size:16px;
}